/*@sunday: #FF8C76;*/
/*@garlic: #E3D57D;*/
/*@eggshell-blue: #9DC9C6;*/

.fc-sunday { color: #FF8C76;}
.fc-garlic { color: #E3D57D;}
.fc-eggshell-blue { color: #9DC9C6;}

.bg-sunday { background-color: #FF8C76;}
.bg-garlic { background-color: #E3D57D;}
.bg-eggshell-blue { background-color: #9DC9C6;}
